apps/*/dist
apps/*/docs
apps/*/coverage
apps/*/__tests__/src
apps/*/__tests__/dist
apps/*/dist

libs/*/docs
libs/*/coverage
libs/*/__tests__/src
libs/*/__tests__/dist

jest.config.cjs
.prettierrc.cjs
!.*.js
!.*.cjs
!.*.mjs
!.*.ts
